
.coverage.*
.dockerignore
.editorconfig
.env
.git

.gitignore
.idea
.svelte-kit/*
.vscode
*.lock
**/dist
**/node_modules/*
coverage*
docker-compose*
Dockerfile*
helm-charts
LICENSE
Makefile
node_modules
npm-debug.log
README.md
